:root{
    --bg-color-page: #fffdfd;
    --text-color-page: black;
    --link-color: #880081 ;
    --bg-color-global: #f3f3f3c5;
    --bs-color: #ccc;
    --btn-theme: black;
    --trans-thema: 0.3s;
}

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-global);
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}