.main{
    background-color: var(--bg-color-page, #fffdfd);
    color: var(--text-color-page, black);
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    flex: 1;
    width: 65%;
    align-self: center;
    min-height: 100vh;
    border-radius: 18px;
    transition: background-color var(--trans-thema) ease, color var(--trans-thema) ease;
}

@media(max-width: 600px){
    .main{
        width: 85%;
    }
}
@media (901px <= width <=1500px){
    .main{
        width: 80%;
    }   
}